<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mak.studytracker">

    <application
        android:allowBackup="true"
        android:icon="@drawable/khuddus"
        android:label="@string/app_name"
        android:roundIcon="@drawable/khuddus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".firebaseauthdemo.ChooserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".firebaseauthdemo.CustomAuthActivity"
            android:label="@string/label_custom_auth" />
        <activity
            android:name=".firebaseauthdemo.GoogleSignInActivity"
            android:label="@string/label_google_sign_in" />
        <activity
            android:name=".firebaseauthdemo.FacebookLoginActivity"
            android:label="@string/label_facebook_login" />
        <activity
            android:name=".firebaseauthdemo.EmailPasswordActivity"
            android:label="@string/label_emailpassword"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".firebaseauthdemo.PhoneAuthActivity"
            android:label="@string/label_phone_auth" />
        <activity
            android:name=".firebaseauthdemo.AnonymousAuthActivity"
            android:label="@string/label_anonymous_auth" />
        <activity
            android:name=".firebaseauthdemo.TwitterLoginActivity"
            android:label="@string/label_twitter_login" />
        <activity
            android:name=".firebaseauthdemo.FirebaseUIActivity"
            android:label="@string/label_firebase_ui" />
        <activity
            android:name=".input.AddSubjectActivity"
            android:label="@string/title_activity_add_subject"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mak.studytracker.MainActivity" />
        </activity>
    </application>

</manifest>